---
layout: layout.njk
pagination:
  data: galeri
  size: 1
  alias: galeri
permalink: "/galeri/{{ galeri.merk }}/index.html"
---

<div class="d-flex justify-content-center mt-0">
  <img src="{{ ('/public/images/' + galeri.bannerMerk1) | url }}" class="banner" />
</div>
<div class="d-flex justify-content-center">
  <img src="{{ ('/public/images/' + galeri.bannerMerk2) | url }}" class="banner" />
</div>

<div class="d-flex align-items-center mt-5">
  <div class="dropdown" data-bs-theme="dark">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
      Pilih Merk
    </button>
    <ul class="dropdown-menu transition-all">
      <li><a class="dropdown-item" href="{{ '/galeri/Produk/' | url }}">Default</a></li>
      <li><a class="dropdown-item" href="{{ '/galeri/ASUS/' | url }}">ASUS</a></li>
      <li><a class="dropdown-item" href="{{ '/galeri/MSI/' | url }}">MSI</a></li>
      <li><a class="dropdown-item" href="{{ '/galeri/Lenovo/' | url }}">Lenovo</a></li>
      <li><a class="dropdown-item" href="{{ '/galeri/Acer/' | url }}">Acer</a></li>
    </ul>
  </div>
  <div class="headline productlabel" style="font-size: 30px;">
    {{galeri.merk}}
  </div>
</div>

<div class="container mt-4 mb-5">
  <div class="row justify-content-center gap-4">
    <div class="col pt-3 mr-3 mw-440p rounded boxshadow" style="background-color: rgb(12, 3, 37)">
      <a href="{{ ('/' + galeri.produk1Link) | url }}">
        <img src="{{ ('/public/images/' + galeri.produk1) | url }}" height="200px"
             class="dropshadow transition-all scaleup mx-auto d-block" />
      </a>
      <div>
        <p class="headline h3 text-center mt-4">
          {{galeri.namaProduk1}}<br>
          {{galeri.hargaProduk1}}
        </p>
        <p class="text-center text-white mt-5 mb-5 poppins">
          {{galeri.cpuProduk1}} <br>
          {{galeri.gpuProduk1}} <br>
          {{galeri.displayProduk1}} <br>
          {{galeri.ramProduk1}} <br>
          {{galeri.storageProduk1}} <br>
          {{galeri.dimensionProduk1}} <br>
          {{galeri.osProduk1}}
        </p>
      </div>
    </div>

    <div class="col pt-3 mr-3 mw-440p rounded boxshadow" style="background-color: rgb(12, 3, 37)">
      <a href="{{ ('/' + galeri.produk2Link) | url }}">
        <img src="{{ ('/public/images/' + galeri.produk2) | url }}" height="200px"
             class="dropshadow transition-all scaleup mx-auto d-block" />
      </a>
      <div>
        <p class="headline h3 text-center mt-4">
          {{galeri.namaProduk2}}<br>
          {{galeri.hargaProduk2}}
        </p>
        <p class="text-center text-white mt-5 mb-5 poppins">
          {{galeri.cpuProduk2}} <br>
          {{galeri.gpuProduk2}} <br>
          {{galeri.displayProduk2}} <br>
          {{galeri.ramProduk2}} <br>
          {{galeri.storageProduk2}} <br>
          {{galeri.dimensionProduk2}} <br>
          {{galeri.osProduk2}}
        </p>
      </div>
    </div>

    <div class="col pt-3 mr-3 mw-440p rounded boxshadow" style="background-color: rgb(12, 3, 37)">
      <a href="{{ ('/' + galeri.produk3Link) | url }}">
        <img src="{{ ('/public/images/' + galeri.produk3) | url }}" height="200px"
             class="dropshadow transition-all scaleup mx-auto d-block" />
      </a>
      <div>
        <p class="headline h3 text-center mt-4">
          {{galeri.namaProduk3}}<br>
          {{galeri.hargaProduk3}}
        </p>
        <p class="text-center text-white mt-5 mb-5 poppins">
          {{galeri.cpuProduk3}} <br>
          {{galeri.gpuProduk3}} <br>
          {{galeri.displayProduk3}} <br>
          {{galeri.ramProduk3}} <br>
          {{galeri.storageProduk3}} <br>
          {{galeri.dimensionProduk3}} <br>
          {{galeri.osProduk3}}
        </p>
      </div>
    </div>
  </div>
</div>